{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block monTitre %}Login{% endblock %}
{% block body %}

{% if error %}

<div class="alert alert-danger">
    Le login et le mdp ne sont pas correctes.
</div>

{% endif %}

<form action="{{path('login')}}" method="post">

<div class="form-group">
    <label>Login :</label>
    <input type="text" required name="_username" value="{{lastUserName}}" class="form-control">
</div>

<div class="form-group">
    <label>Password :</label>
    <input type="password" required name="_password" class="form-control">
</div>

<input type="submit" value="S'identifier" class="btn btn-primary">

</form>

{% endblock %}
